<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DoggyCollars</title>
  <link rel="icon" type="image/x-icon" href="/images/tablogo.webp">
  <link rel="stylesheet" href="/CSS/indexStyles.css">
  <link rel="stylesheet" href="/CSS/headFoot.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>

  <main>
    <div class="main-content">
      <h1>Welcome to DoggyCollars!</h1>
      <p>Your one‑stop shop for unique, high‑quality dog collars. Whether you're looking for a stylish collar or want to showcase your own designs, you're in the right place!</p>
      <img src="/images/dogs-in-line-stockcake.webp" alt="Dog Collars" class="hero-image">
      <a href="/items" class="btn">Start Browsing</a>
    </div>
  </main>

  <%- include('partials/footer') %>
</body>
</html>